<% if !user_signed_in? %>
  <div class= "jumbotron">
    <h1>Your Favourite movies reviewed</h1>
      <p> Psycho thrillers are good to watch. Add some thriller movies of your own if aint present here already. </p>
      <p><%= link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %> 






<div class="row">
<% @movies.each do |movie| %>
  <div class ="col-sm-6 col-md-3">
    <div clas="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>

      </div>
    </div>
 <% end %>
</div>































